.searchForm {
  width: 100%;
  display: flex;
  justify-content: center;
}

.textInput {
  width: 50%;
  border: none;
  background: none;
  border-bottom: 1px solid #333;
}

.submitBtn {
  margin-left: 1rem;
  min-width: 72px;
  min-height: 36px;
  background-color: #fdb42d;
  border: none;
  cursor: pointer;
  transition: 0.25s all ease;

  &:hover {
    background-color: #ffc559;
  }
}
