/* CSS Reset
======================================*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  line-height: 1.4;
}

a {
  color: #333;
  text-decoration: none;
}

a:focus,
button:focus,
input:focus,
select:focus,
textarea:focus {
  box-shadow: none;
  outline: #000 dotted 2px;
  outline-offset: 0.05em;
}

/* Layout
======================================*/
:global {
  #root {
    height: 100%;
  }
}

html,
body {
  height: 100%;
}

.App {
  height: 100%;
  display: grid;
  grid-template-columns: auto;
  // grid-template-rows: minmax(6rem, 15%) 1fr minmax(3rem, 10%);
  grid-template-rows: minmax(6rem, 15%) 1fr 5%;
  grid-template-areas:
    "header"
    "results"
    "footer";
}

header {
  background-color: #ddd;
  grid-area: header;
}

main {
  height: 100%;
  background-color: #ddd;
  grid-area: results;
}

footer {
  background-color: lightsalmon;
  grid-area: footer;
}

.altContent {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
